<?xml version="1.0"?>
<robot name="camera_on_plate" xmlns:xacro="http://ros.org/wiki/xacro">

  <joint name="camera_joint" type="fixed">
    <parent link="top_plate"/>
    <child link="camera_link"/>
    <!-- Platte ist 0.17 m lang → Hälfte = 0.085 m.
         Kamera-Tiefe = 0.01 m → Hälfte = 0.005 m.
         Position x = 0.085 + 0.005 = 0.09 m -->
    <origin xyz="0.09 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <link name="camera_link">
    <visual>
      <geometry>
        <box size="0.010 0.030 0.030"/>
      </geometry>
      <material name="camera_black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.010 0.030 0.030"/>
      </geometry>
    </collision>
  </link>

  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_link_optical"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="camera_link_optical"/>
</robot>
