<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_ros2_control" default="false"/>
    <xacro:arg name="sim_mode" default="false"/>
    <xacro:arg name="esp_ip" default="192.168.1.100"/>

    <xacro:include filename="robot_core.xacro" />

    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro" />
        <xacro:ros2_control_config esp_ip="$(arg esp_ip)" />
    </xacro:if>
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="face.xacro" />
    
</robot>
