<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="esp_ip" default="192.168.1.100"/>

    <xacro:macro name="ros2_control_config" params="esp_ip">
        <ros2_control name="RealRobot" type="system">
            <hardware>
                <plugin>mock_components/GenericSystem</plugin>
                <param name="esp_ip">http://$(arg esp_ip)</param> <!-- ESP IP-Adresse -->
                <param name="baud_rate">115200</param> <!-- Angepasste Baudrate -->
                <param name="timeout">1000</param>
            </hardware>
            <joint name="left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
            <joint name="right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
        </ros2_control>
    </xacro:macro>

</robot>
